#sample {color: black;
        font-size: 30px;
        font-weight: bolder;
         background: cornflowerblue;
          border-bottom: solid 3px #516ab6;
          padding: 0.5em;/*文字まわり（上下左右）の余白*/
     }

#header_menu{
    vertical-align: bottom;
}

.right{
        text-align: right;
}

body {
        font-family: sans-serif;
          /* padding: 5px 25px; */
        font-size: 18px;
        margin: 0 auto;
        max-width: 1200px;
        color: #444;
      }


#searchform {
    width: 50%;
    margin: 0 auto;
    padding: 10px 40px;
    margin-bottom: 10px;
}

#serchexact{
    text-align: center;
}

.tablea{
    background: paleturquoise;
}

#sakujyo_b{
    margin-left: 5px;
}

.tabledesign{
    border-collapse:collapse;
    padding: 4px 12px;
}

.tabledesign th{
    padding :5px 5px;
}

.tabledesign td{
    padding :5px 10px;
}

.must {
    font-size: 15px;
	color: #FF1A00;
}
